@{
    ViewBag.Titulo = Model.Publicacao.Titulo;
}
<h2>@ViewBag.Titulo</h2>
<hr />
<p><b>Autor:</b> @Model.Publicacao.Autor</p>
<p><b>Data Publicação:</b> @Model.Publicacao.DataCriacao</p>
<p>
    <b>Tags: </b>
    @foreach (var tag in Model.Publicacao.Tags)
    {
        <a href="@Url.Action("Publicacoes", "Home", new { tag = tag })">@tag</a>
    }
</p>
<p><b>Conteúdo: </b>@Model.Publicacao.Conteudo</p>
<h3>Comentário</h3>
@foreach (var comentario in Model.Publicacao.Comentarios)
{
    <h5>@comentario.Autor on @comentario.DataCriacao</h5>
    <p>@comentario.Conteudo</p>
}


@if (User?.Identity?.IsAuthenticated ?? false)
{
    <hr />
    <h3>Novo Cometário</h3>
    using (Html.BeginForm("NovoComentario", "Home"))
    {
        <input type="hidden" name="PublicacaoId" value="@Model.Publicacao.Id" />
        <textarea name="Conteudo" class="rows="5" cols="50"></textarea>
        <p></p>
        <p>
            <button type="submit" class="btn btn-info">Enviar</button>
        </p>
    }
}
